<!--conatiner in which all players get displayed-->
<app-player class="player-position" [ngStyle]="{'top.px': 100+(i* 150)}" *ngFor="let player of game.players ; let i = index;"
[activePlayer]="i == game.currentPlayer" [index]="i" [name]="player" >
</app-player>

<!--gamefield on which playing cards get displayed-->
<div class="game-field">
    <div class="card-field">
</div>
    <div class="card-stack">
        <!--card stack-->
        <img  [ngStyle]="{'right.px': i* 5}" *ngFor="let c of [0, 1, 2, 3]; let i = index;" src="./../../assets/img/gameCards/card_cover.png">
        <!---->
        <img (click)="reavealCard()"  class="top-card"  style="right: 25px;"  src="./../../assets/img/gameCards/card_cover.png">
       <!--Stack of playedcards-->
        <img class="played-card" *ngFor="let  card of game.playedCards;let i = index;"  src="./../../assets/img/gameCards/{{card}}.png">
        <!--Current Card Animation-->
        <img (click)="reavealCard()" *ngIf="reavealCardAnimation"  class=" reveal-card" [class.reveal-card]="reavealCardAnimation" style="right: 25px;"  
        src="./../../assets/img/gameCards/{{currentCard}}.png">
    </div>
</div>


<app-game-description [card]="currentCard"></app-game-description>

<!--button to add a new player-->
<button mat-fab color="primary" (click)="openDialog()" class="bnt-add">
          <mat-icon>add</mat-icon>
</button>
        
